* {
    box-sizing: border-box;
}

:root {
    --primary-color: #dc632e;
    --primary-color-2: #e68432;
    --secondary-color: #5f89ef;
    --tertiary-color: #efe5dd;
    --background-color: #ffffff;

    --form-grey-0: #f6f6f8;
    --form-grey-1: #d1d5d9;
    --form-grey-2: #b2b9c1;
    --form-grey-3: #939eaa;
    --form-grey-4: #7c8998;
    --form-grey-5: #657586;
    --form-grey-6: #586776;
    --form-grey-7: #48535f;
    --form-grey-8: #39414a;
    --form-grey-9: #272c33;

    font-family: 'Inter', serif, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto;
    justify-items: center;
}

#registration-form {
    width: min(95%, 1000px);
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-section {
    background-color: var(--form-grey-0);
    border: 2px solid var(--form-grey-1);
    padding: min(40px, 2%);
}

input[type='radio'] {
    display: none;
}

input[type='radio'] + label {
    padding: 10px 3%;
    background-color: var(--form-grey-1);
    border: 1px solid var(--form-grey-3);
    transition: background-color ease-out 0.2s;

}

input[type='radio']:checked + label {
    background-color: #88ff886a;
    border: 1px rgb(0, 157, 0) solid;
}

.event-sub-category {
    display: flex;
    flex-direction: column;
}

.event-category {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.event-category label {
    display: flex;
    justify-content: space-between;
}

.section-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.fast-expand .section-content {
    transition: max-height 0.05s ease-out;
}

.section-content.show {
    max-height: 4000px;
}

span.expand-button {
    font-size: 48px;
    transition: transform 0.2s ease-out;
}

span.expand-button.upside-down {
    transform: rotate(180deg);
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 

.section-header:hover {
    cursor: pointer;
}

.section-content h3 {
    font-weight: 500;
    margin: 25px 0px 5px;
    
}

.section-content,
.participant-information-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#participant-information .section-content {
    gap: 20px;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='date'],
select {
    height: 40px;
    font-size: inherit;
}

.shirt-option,
.wheelchair-option,
.age-option,
.team-dropdown-box {
    display: flex;
    flex-direction: column;
}

.donation-row {
    display: flex;
    justify-content: space-between;
}

.cost-section {
    display: grid;
    grid-template-columns: 1fr;
}

.cost-row {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
}

.cost-unit {
    justify-self: center;
    align-self: center;
}

.cost-row input {
    text-align: right;
}

.cost-row.bottom-row .cost-item,
.cost-row.bottom-row .cost-unit {
    font-weight: bold;
}

.bottom-row {
    border-top: var(--form-grey-4) 2px solid;
    margin-top: 5px;
    padding-top: 5px;
}
.cost-unit {
    justify-self: right;
    padding-right: 10px;
}

#cost-total {
    text-shadow: 1px 0px 0px black;
}

#submit-row {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
}

#submit-row button {
    border-radius: 40px;
    border: none;
    background-color: var(--form-grey-3);
    font: inherit;
    font-size: inherit;
    padding: 20px 30px;
    margin: 20px 0px;
    box-shadow: 0px 5px 0px black;
    transition: transform ease 0.4s;

}

#submit-button:hover,
#submit-button::after,
#cancel-button:hover,
#cancel-button::after {
    transform: translateY(-10px);
}

#submit-button:hover,
#submit-button::after {
    background-color: #88ff88;
}

#cancel-button:hover,
#cancel-button::after {
    background-color: #ff8888;
}

#disclaimer {
    padding: 20px;
    font-style: italic;
    
}

input {
    font-size: inherit;
}

h1 {
    font-weight: 600;
}